.custom-button {
    background-color: #4caf50;/* Зеленый цвет */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
}

.custom-button:hover {
    background-color: #45a049; /* Темнозеленый цвет при наведении */
}
.content-lg{
    padding: 200px 200px;
}
.custom-file-input {
    position: relative;
    overflow: hidden;
}

.custom-file-input input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.custom-file-input::before {
    content: 'Выберите файл';
    display: block;
    background: #333;
    color: white;
    white-space: nowrap;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 10px 15px;
    border-radius: 3px;
}

.custom-file-input:hover::before {
    background: #555;
}

.custom-file-input:active::before {
    background: #283f73;
}
.up{
   display: grid;
    grid-template-columns:repeat(2,1fr);
    text-align: center;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: left;
}
.card {
    width: 500px;
    box-shadow: 10px 10px 40px 20px #0000001A;
    margin-right: 31px;
    background-color: #fff;
    margin-top: 20px;
    padding: 10px 10px;
}
.cards-holder {
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}
.card-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 400;

}
.card-desc {
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    color: #656363;
}
.circle-marker {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #333;
    color: #333;
    font-size: 20px;
    text-align: center;
    line-height: 30px; /* Настройка выравнивания текста внутри маркера */
}



